@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563EB;
  --sky: #7DD3FC;
  --snow: #FAFDFE;
}

body {
  @apply bg-snow text-slate-900;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

/* Custom Marker Animation */
@keyframes marker-ping {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.animate-ping {
  animation: marker-ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}