:root {
  --primary: #2563EB;
  --sky: #7DD3FC;
  --snow: #FAFDFE;
}

body {
  background-color: var(--snow);
  color: #0f172a;
  /* Slate 900 */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

/* Custom Marker Animation */
@keyframes marker-ping {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.animate-ping {
  animation: marker-ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}